@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(90deg, rgba(194,58,58,1) 0%, rgba(185,186,59,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

